<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">

    <title>Cohert Analysis Tool - CAT</title>

    <meta name="apple-mobile-web-app-title" content="">
    <meta name="description" content="">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <meta name="theme-color" content="#f43059">
    <link rel="manifest" href="/manifest.json">
    <link type="text/css" rel="stylesheet" href="/css/main.css" />

</head>