---
layout: default
---

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1 class="text-center" style="margin-top: 200px;">Cohort Analysis Tool</h1>
        <p class="text-center" style="margin-top: 20px;">
            Prostate Cancer is one of the leading causes of death in men around the world. And Sweden is one of the countries with the highest disease incidents.
            In this project we developed a tool to help doctors and researchers to find correlations in different
        </p>
        <div class="text-center">
            <a href="https://vimeo.com/211194972" style="margin-bottom: 200px;" class="btn btn-primary btn-lg">Know More</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row text-center">
        <div class="col-sm-12">
            <h2 class="h1">Team</h2>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-sm-12">
            <h3 style="margin: 50px 0;">Design</h3>
        </div>
    </div>
    <div class="text-center row">
        <div class="col-sm-4">
            <img src="images/Niek.png"  class="img-rounded">
            <h4 class="h4">Niek Bijman</h4>
        </div>
        <div class="col-sm-4">
            <img src="images/Julia.png"  class="img-rounded">
            <h4 class="h4">Julia Creutz</h4>
        </div>
        <div class="col-sm-4">
            <img src="images/Tomas.png"  class="img-rounded">
            <h4 class="h4">Tomas Albrecht</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p class="text-center" style="margin: 20px 0;">
                <a href="/savingprivatenuts/design" class="btn btn-md btn-primary">Read More about Design</a>
            </p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-sm-12">
            <h3 style="margin: 50px 0;">Development</h3>
        </div>
    </div>
    <div class="text-center row">
        <div class="col-sm-4">
            <img src="images/Raghu.png"  class="img-rounded">
            <h4 class="h4">Raghu Nayyar</h4>
        </div>
        <div class="col-sm-4">
            <img src="images/Maiky.png"  class="img-rounded">
            <h4 class="h4">Mai-Khanh Lê</h4>
        </div>
        <div class="col-sm-4">
            <img src="images/Nilay.png"  class="img-rounded" style="height: 150px;">
            <h4 class="h4">Nilay Ates</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p class="text-center" style="margin: 20px 0;">
                <a href="/savingprivatenuts/code" class="btn btn-md btn-primary">Read More about Development</a>
            </p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-sm-12">
            <h3 style="margin: 50px 0;">User Testing</h3>
        </div>
    </div>
    <div class="text-center row">
        <div class="col-sm-3 col-sm-offset-3">
            <img src="images/Filip.png"  class="img-rounded">
            <h4 class="h4">Filip Gustafsson</h4>
        </div>
        <div class="col-sm-3">
            <img src="images/Dani.png"  class="img-rounded">
            <h4 class="h4">Dani Mataruga</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p class="text-center" style="margin: 20px 0;">
                <a href="/savingprivatenuts/usertesting" class="btn btn-md btn-primary">Read More about User Testing</a>
            </p>
        </div>
    </div>
</div> <!-- /container -->

